@page
@model Webshoppen.Pages.CategoryModel
@{
}
<h1 class="text-white mb-4"><u>@Model.CatName</u></h1>
<br/>
<ul class="text-white mb-4 list-unstyled">
    @foreach (var item in Model.ProductItems)
    {

        <form method="post">
            <div>
                
                    <div class="border-2">

                        <div class="info">
                            <h3>@item.Country</h3>
                            <p>@item.County</p>
                            <p>@item.Acres Acres</p>
                            <p>Price $@item.Price</p>
                            <div>

                                <img src="@item.Img" alt="Product Image" height="250" />
                            </div>
                            <a asp-page="/EditProduct" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            <br/>
                            <br/>
                        </div>
                    </div>
            </div>
        </form>


    }
</ul>